.navbar {
    -fx-background-color: lightgreen;
    -fx-padding: 15;
    -fx-spacing: 15;
}

.video-btn {
    -fx-background-color: #4e95d9;
    -fx-text-fill: white;
}

.instruction-btn {
    -fx-background-color: #4e95d9;
    -fx-text-fill: white;
}

.video-btn:hover {
    -fx-background-color: #83cbeb;
    -fx-text-fill: white;
}

.instruction-btn:hover {
    -fx-background-color: #83cbeb;
    -fx-text-fill: white;
}